// TEAMS
match /teams/{teamId} {
  allow read: if isAuth();
  allow create: if isAuth() && notWritingDerived();
  allow update: if isAuth() && notWritingDerived();
  allow delete: if hasRole('superadmin') || isDirezione();
}
