rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Consenti l'accesso in lettura e scrittura solo se l'utente è autenticato
      // e il suo UID corrisponde a un documento presente nella collezione 'users' di Firestore.
      allow read, write: if request.auth != null && 
        firestore.exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
  }
}
