// TICKETS
match /tickets/{docId} {
  allow read: if isAuth();
  allow create: if isAuth();
  allow update: if isAuth();
  allow delete: if hasRole('superadmin');
}
